<!--td><%= link_to 'Show', @trick %></td-->
<td><%= link_to 'Edit', edit_trick_path(@trick) %></td>
<td><%= link_to 'Destroy', @trick, method: :delete, data: { confirm: 'Destroying a trick will also remove it from all combos. The ones left with less than two tricks will be destroyed as well. Are you sure you want to continue?' } %></td>