<% if tricker_signed_in? %>
  <%= link_to 'â† Dashboard', 'dashboard', :class => "btn mrs" %>
	<%= link_to 'Add Trick', new_trick_path, :class => "btn btn-green mrs" %>
<% else %>
  <%= render 'welcome/guest_actions'%>
<% end %>
<p id="notice"><%= notice %></p>
<!--form id="search_form" style="float:right">
<input type="text" placeholder="Search">
</form-->