<div id="title" class="container">
	<h1>Editing <%= @trick.name %></h1>
	<p>Serious admin action going on...</p>
</div>

<div class="container">
	<%= link_to 'Back to Index', tricks_path, :class => "btn mrs" %>
	<%= link_to 'Show Trick', @trick, :class => "btn btn-green" %>
</div>

<%= render 'form' %>

<br class="clear">