#edit-trick-wrapper.container
  .section-header.clearfix
    .col-sm-6
      = link_to 'Tricktionary', tricks_path
      \/
      = link_to @trick.name, @trick
      \/
      %h2
        Edit
    .col-sm-4.pull-right
      = link_to ' Destroy', @trick, method: :delete, :class => "fa fa-trash-o btn btn-default btn-sm pull-right", data: { confirm: 'Destroying a trick will also remove it from all combos. The ones left with less than two tricks will be destroyed as well. Are you sure you want to continue?'}
  #trick-form.container
    = render 'form'
