<div id="main" class="container">
  <%= render 'shared/flash_messages' %>
  <div class="section-header clearfix">
    <div class="col-md-4">
      <h2 id="toolbar-title">Tricktionary</h2>
    </div>
    <div id="trick-toolbar" class="col-md-6">
      <%= render 'tricks_filters' %>
    </div>
    <div class="col-md-2">
      <% if tricker_signed_in? %>
        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#new-trick-modal">
          New Trick
        </a>
      <% end %>
    </div>
  </div>
  <div class="list container clearfix">
    <% if !@tricks.empty? %>
      <% @tricks.each do |trick| %>
        <% @trick = trick %>
        <%= render 'trick_row' %>
      <% end %>
    <% else %>
      <div class="list-row">
        <div class="container empty-list-head">
          <h3>Nothing to see here.</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'new_trick_modal' %>