#tricktionary-wrapper.container
  .section-header.clearfix
    .col-sm-4
      %h2 Tricktionary
    .col-sm-4
      = render 'tricks_filters'
    .col-sm-4
      %a{"data-target" => "#new-trick-modal", "data-toggle" => "modal", :href => "#"}
        New Trick
  #tricks-list.clearfix
    = render 'shared/flash_messages'
    .list
      - unless @tricks.empty?
        - @tricks.each do |trick|
          - @trick = trick
          = render 'trick_row'
      - else
        .list-row
          .container.empty-list-head
            %h3 Nothing to see here.
= render 'new_trick_modal'
