#tricktionary-wrapper.container
  #tricktionary-header.section-header.clearfix
    .col-sm-6
      %a.section-link{href: tricks_path}
        %h2
          %i.glyphicon.glyphicon-book.section-icon
          %span Tricktionary
    -#
      .col-sm-4
        = render 'tricks_filters'
  #tricks-list.clearfix
    =# render 'shared/flash_messages'
    .list
      - unless @tricks.empty?
        - @tricks.each do |trick|
          .col-sm-4
            .trick-row.card
              = link_to trick.name, trick
          =# render 'trick_row'
      - else
        .list-row
          .container.empty-list-head
            %h3 Nothing to see here.
  -#
    .suggest-trick
      Can't find the trick you're looking for?
      %a{"data-target" => "#new-trick-modal", "data-toggle" => "modal", :href => "#"}
        Suggest it
=# render 'new_trick_modal'
