<div class="container">
  <div id="tricks-affix" class="col-sm-4 col-md-3">
    <div data-spy="affix" data-offset-top="60" data-offset-bottom="100">
      <h2 id="toolbar-title">Tricks</h2>
      <div id="trick-toolbar" class="container mbm">
        <small><b>Collection</b></small><br>
        <div class="btn-group btn-group-sm mbm" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="radio" name="options" id="option1"> Database
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option2"> User-created
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option3"> All
          </label>
        </div>
        <br><small><b>Order by</b></small><br>
        <div class="btn-group btn-group-sm mbm" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="radio" name="options" id="option1"> Name
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option2"> Difficulty
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option3"> Type
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option3"> Combos
          </label>
        </div>
        <br><small><b>System</b></small><br>
        <div class="btn-group btn-group-sm" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="radio" name="options" id="option1"> T10X
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option2"> TA
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="option3"> TKT
          </label>
        </div>
      </div>
      <a href="#" class="btn btn-camouflaged fa fa-plus" data-toggle="modal" data-target="#new-trick-modal"> New Trick</a>
    </div>
  </div>

  <div class="col-sm-8 col-md-9">
    <% if flash.any? && !flash[:notice].empty? %>
      <div id="notice" class="alert alert-success"><%= notice %></div>
    <% elsif flash.any? && !flash[:alert].empty? %>
      <div id="notice" class="alert alert-error"><%= alert %></div>
    <% end %>
    <!--a href="#" class="btn btn-base mbm">New Trick</a-->
    <div class="combo-list container card-shadow">
      <% @tricks.each do |trick| %>
        <% @trick = trick %>
        <%= render 'trick_row' %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<%= render 'new_trick_modal' %>