.container.container-tiny
  = link_to 'â† Tricktionary', tricks_path, :class => "btn btn-camouflaged"
.container.container-tiny.tac
  %h1 Create New Trick
.container.container-tiny.card.mb20.pt20
  = render 'form'
