<div id="title" class="container">
	<h1>Add new trick to the database</h1>
	<p>
		If you're not the admin, get the fuck out! :P
	</p>
</div>

<div id="actions-top" class="container">
	<%= link_to 'Back to DB', tricks_path, :class => "btn" %>
</div>

<%= render 'form' %>

<br class="clear">