#tricker-sign-in,
#tricker-sign-up
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  padding: 20px 0 30px
  text-align: center
  .logo
    margin-bottom: 20px
    img
      width: 100px
  #sign-in-inputs,
  #sign-up-inputs
    max-width: 300px
    padding: 30px 40px 20px
    margin: 0 auto 20px
    @include box-sizing(content-box)
    .form-control
      margin-bottom: 10px
    .devise-links
      margin-top: 10px
    .checkbox
      text-align: left
      margin-bottom: 15px