= link_to 'â† Dashboard', '/dashboard', :class => "btn mrs"
- if tricker_signed_in? && ((@tricking_style.tricker_id.equal? current_tricker.id) || current_tricker.try(:admin?))
  = link_to 'Edit Style', edit_tricking_style_path(@tricking_style), :class => "btn btn-green mrs"
%p#notice= notice
