<div class="container mb20">
  <%= link_to 'â† My Trick List', @tricking_style, :class => "btn btn-camouflaged mrs" %>
  <%= render 'shared/flash_messages' %>
</div>
<div class="container container-mini mb20">
  <h1>Editing '<%= @tricking_style.name %>'</h1>
</div>
<div class="container container-mini card">
  <%= render 'form' %>
</div>
