#tricking-style-wrapper.container
  .section-header.clearfix
    .col-sm-6
      = link_to 'My Trick List', @tricking_style
      \/
      %h2
        Edit
  =# render 'shared/flash_messages'
  #tricking-style.container
    = render 'form'
