<div id="title" class="container mustard">
  <h1>New Tricking Style</h1>
</div>

<div id="actions-top" class="container">
  <%= link_to 'â† Dashboard', '/dashboard', :class => "btn" %>
</div>

<%= render 'form' %>

<br>
