#tricking-style-wrapper.container
  .section-header.clearfix
    .col-sm-4
      %h2
        = @tricking_style.name
    - if current_tricker_can_edit_style
      .col-sm-4.pull-right
        = link_to ' Edit', edit_tricking_style_path(@tricking_style), :class => "fa fa-pencil btn btn-default mr10"
      =#by #{link_to @tricking_style.tricker.name, tricker_path(@tricking_style.tricker)}
  =# render 'shared/flash_messages'
  #tricking-style.container
    .trick-list.clearfix
      - @tricking_style.tricks.order(:name).each do |t|
        .col-sm-4
          = t.name
