#tricking-style-wrapper.container
  .section-header.clearfix
    .col-sm-12
      %h2
        = @tricking_style.name
      - if current_tricker_can_edit_style
        = link_to edit_tricking_style_path(@tricking_style), :class => "btn btn-default mr10 pull-right" do
          %i.glyphicon.glyphicon-pencil
          %span Edit
  =# render 'shared/flash_messages'
  #tricking-style.container
    .trick-list.clearfix
      - @tricking_style.tricks.order(:name).each do |t|
        .col-sm-4
          = t.name
