- if flash.any?
  #notice
    - if !flash[:notice].nil?
      %span.success
        %i.glyphicon.glyphicon-ok.mr5
        = notice
    - elsif !flash[:alert].nil?
      %span.error
        %i.glyphicon.glyphicon-minus-sign.mr5
        = alert
