<% if tricker_signed_in? %>
  Currently logged in as <%= current_tricker.name %>
<% else %>
  <%= link_to "Login", new_tricker_session_path, :class => "btn btn-green mrs" %>
  <span class="mrs">or</span>
  <%= link_to "Register", new_tricker_registration_path, :class => "btn btn-blue mrs" %>
  <p id="notice"><%= alert %></p>
<% end %>