<%= link_to "Login", new_tricker_session_path, :class => "btn btn-green mrs" %>
<span class="mrs">or</span>
<%= link_to "Create Your Account", new_tricker_registration_path, :class => "btn btn-blue mrs" %>
<p id="notice"><%= alert %></p>