<div id="title" class="light-blue">
  <h1>My Dashboard</h1>
  <p>Welcome, <%= current_tricker.name %>! Thank you so much for being part of our testing phase. :)</p>
</div>
<div class="container tac">
  <h2>What will you try out today?</h2>
</div>
<div id="dashboard" class="container tac">
  <div class="container">
    <div id="dashboard-tricks">
      <a href="/tricks" class="dashboard-link">
        <h1 class="red">Tricks</h1>
        <ul>
          <li>View database</li>
          <li>Create your own</li>
        </ul>
      </a>
    </div>
    <div id="dashboard-combos">
      <a href="/combos" class="dashboard-link">
        <h1 class="mustard">Combos</h1>
        <ul>
          <li>View database</li>
          <li>Create your own</li>
          <li>Play with our random generator!</li>
        </ul>
      </a>
    </div>
  </div>
  <br class="clear">
</div>