<div id="title">
	<h1>Level.App Combo Generator</h1>
	<p>Bringing out the best in you!</p>
</div>
<div class="container">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et lectus sodales turpis auctor sagittis eget at eros. Nullam ultricies elit a malesuada semper. Vestibulum at dui ante. Pellentesque hendrerit libero sit amet purus viverra, nec tincidunt dolor hendrerit. Mauris accumsan orci at posuere facilisis. Donec aliquam justo eget purus aliquet, sit amet consectetur mi sodales. Cras elementum ac dui eleifend tempus. Aenean sem enim, egestas quis mi at, mollis adipiscing urna. Sed quis erat sapien. Sed in massa diam. Quisque et orci justo. Proin rutrum, lorem a rutrum tempor, nisl turpis mollis eros, vitae eleifend sapien sapien nec est. Praesent sagittis dolor ac viverra ornare. Donec in nibh sed diam consectetur feugiat.
	</p>
	<!--%= link_to 'Tricks', tricks_path, :class => "btn btn-green btn-jumbo" %>
	<%= link_to 'Combos', combos_path, :class => "btn btn-blue btn-jumbo" %-->
</div>