#jumbotron.jumbotron
  .container
    %h1.mr10 Level App
    %p
      %br/
      Take your tricking skills to the next level.
      %br/
      /
        Designed to help you make the most of your tricking skills,<br>
        by providing tools that promote creative thinking.
    %br/
    %p
      = link_to "Tester Login", new_tricker_session_path, :class => "btn btn-success btn-lg"
      / %= link_to "Sign Up", new_tricker_registration_path, :class => "btn btn-base-inverse btn-wide btn-lg" %
/
  div class="container mb50">
  <div class="row tac">
  <div class="col-lg-4">
  <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="">
  <h2>Tricktionary</h2>
  <p>
  Full of tips, combos ideas, tutorials, and videos of every single trick out there. Updated frequently by an amazing team of world leaders in the sport.
  Can't find it? Add your own tricks, or set your preferred names for all existing tricks.
  </p>
  </div>
  <div class="col-lg-4">
  <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="">
  <h2>Unleash your creativity</h2>
  <p>
  Generate combos for your tricking style with parameters like combo length, tricks involved, and more. Play with our random generator.
  </p>
  </div>
  <div class="col-lg-4">
  <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="">
  <h2>Get organized</h2>
  <p>
  Use lists to keep track of all your unique combos.
  </p>
  </div>
  </div>
  </div
/
  div id="app-stats" class="jumbotron tac">
  <div class="container">
  <div class="col-xs-4">
  <haml:loud> Trick.all.length </haml:loud> tricks
  </div>
  <div class="col-xs-4">
  <haml:loud> Tricker.all.length </haml:loud> trickers
  </div>
  <div class="col-xs-4">
  <haml:loud> Combo.all.length </haml:loud> combos
  </div>
  
  </div>
  </div
/
  div class="container mb50">
  <div class="row featurette">
  <div class="col-md-7">
  <h2 class="featurette-heading">
  Community. <span class="text-muted">Love and support.</span>
  </h2>
  <p class="lead">
  Watch yourself progress over time, and share your achievements with your friends. Connect with trickers from all around the world.
  </p>
  <p>
  <haml:loud> link_to &amp;quot;Join us →&amp;quot;, new_tricker_registration_path </haml:loud>
  </p>
  </div>
  <div class="col-md-5">
  <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src=""/>
  </div>
  </div>
  <hr class="featurette-divider"\>
  <div class="row featurette">
  <div class="col-md-5">
  <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src=""/>
  </div>
  <div class="col-md-7">
  <h2 class="featurette-heading">
  Inspiration. <span class="text-muted">Unlimited combo ideas.</span>
  </h2>
  <p class="lead">
  Study the world's best. Get inspired by the near infinite entries from a wide variety of styles. Generate amazing presonalized combos for your sessions.
  </p>
  <p>
  <haml:loud> link_to &amp;quot;Get inspired →&amp;quot;, new_tricker_registration_path </haml:loud>
  </p>
  </div>
  </div>
  <hr class="featurette-divider"\>
  <div class="row featurette">
  <div class="col-md-7">
  <h2 class="featurette-heading">
  Assistance. <span class="text-muted">Learn from the best.</span>
  </h2>
  <p class="lead">
  Full of tips, combos ideas, tutorials, and videos of every single trick out there. Curated by an amazing team of world leaders in the sport.
  </p>
  <p>
  <haml:loud> link_to &amp;quot;Start learning →&amp;quot;, new_tricker_registration_path </haml:loud>
  </p>
  </div>
  <div class="col-md-5">
  <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src=""/>
  </div>
  </div>
  </div
/
  div id="call-to-action">
  <div class="container tac">
  <h1>What are you waiting for?</h1>
  <p>
  <haml:loud> link_to &amp;quot;Join the community today&amp;quot;, new_tricker_registration_path, :class =&amp;gt; &amp;quot;btn btn-base btn-hg&amp;quot; </haml:loud>
  </p>
  <br>
  </div>
  </div
