#jumbotron.jumbotron
  .container
    %h1.mr10 Level App
    %p
      Take your tricking skills to the next level.
      /
        Designed to help you make the most of your tricking skills,<br>
        by providing tools that promote creative thinking.
    %br
    %p
      = link_to "Login", new_tricker_session_path, :class => "btn btn-success btn-lg"
      / %= link_to "Sign Up", new_tricker_registration_path, :class => "btn btn-base-inverse btn-wide btn-lg" %