#combos-wrapper.container
  #tricker-profile-header.section-header.clearfix
    .col-sm-6
      %a{href: @tricker, class: 'section-link clearfix'}
        %h2
          %i.glyphicon.glyphicon-user.section-icon
          %span= @tricker.name
  #combos-list
    .list.card
      - if !@combos.empty?
        - @combos.each do |combo|
          = render partial: 'combos/combo_row', locals: {combo: combo}
      - else
        .list-row
          %h3
            #{@tricker.name} has not created any combos yet.
= render 'combos/watch_combo_modal'
