#combos-using-trick.clearfix
  - if @trick.combos.empty?
    .container
      %h3
        We found no combos with #{@trick.name} in Level App. That's really sad...
      = link_to 'Be the first to create one!', my_combos_path(anchor: new_combo_anchor(@trick.name)), :class => "btn btn-primary"
  - else
    - unless @combos_you_can_do.empty?
      .col-md-6#try-these
        %h3.list-head
          Try these!
          - if @combos_you_can_do.count > 5
            .btn.btn-camouflaged.pull-right#more-to-try
              %i.glyphicon.glyphicon-repeat
        .list.card
          - @combos_you_can_do.each do |combo|
            = render partial: 'combos/combo_row', locals: {combo: combo}
    - unless @related_combos.empty?
      .col-md-6#related-combos
        %h3.list-head
          Related combos
          - if @related_combos.count > 5
            .btn.btn-camouflaged.pull-right#more-related
              %i.glyphicon.glyphicon-repeat
        .list.card
          - @related_combos.each do |combo|
            = render partial: 'combos/combo_row', locals: {combo: combo}