<td class="visible-lg"><%= @combo.id %></td>
<td class="visible-lg"><%= @combo.no_tricks %></td>
<td class="sequence">
  <a class="show-link" href="/combos/<%= @combo.id.to_s %>">
    <ul class="combo-list">
      <% @tricks = @tricks_names[@index] if !@tricks_names[@index].nil? %>
      <%- @tricks.each do |trick| %>
        <li><%= trick %></li>
      <%-end-%>
    </ul>
  </a>
</td>