<td><%= @combo.id %></td>
<td><%= @combo.no_tricks %></td>
<td>
  <ul class="combo-list">
    <% @tricks = @tricks_names[@index] if !@tricks_names[@index].nil? %>
    <%- @tricks.each do |trick| %>
      <li><%= trick %></li>
    <%-end-%>
  </ul>
</td>