= form_tag combo_search_path, method: 'get', class: 'form-inline' do
  .form-group
    = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Find combos...'
  = submit_tag 'Search', class: 'btn btn-primary'