<div id="title" class="container mustard">
	<h1>Editing Combo #<%= @combo.id%></h1>
</div>

<div id="actions-top" class="container">
	<%= render 'edit_actions' %>
</div>

<%= render 'form_edit' %>

<br class="clear">