<div class="container">
  <%= render 'edit_actions' %>
</div>
<div class="container container-tiny tac">
  <h1>Editing Combo #<%= @combo.id%></h1>
  <%= render 'shared/flash_messages' %>
</div>
<div id="combo-form" class="container container-tiny card mb20">
  <%= render 'form_edit' %>
</div>