<div id="title" class="container">
	<h1>Editing combo <%= @combo.id%></h1>
</div>

<div class="container">
	<%= link_to 'Back', combos_path, :class => "btn mrs" %>
	<%= link_to 'Show', @combo, :class => "btn btn-green" %>
</div>

<%= render 'form_edit' %>

<br class="clear">