<!-- Print all combos from the rest of the trickers -->
<% if @combos.length > @tricker_num_combos %>
  <div id="db-combos" class="container mb20">
    <h2>Database Combos</h2>
    <table>
      <tr>
        <%= render 'index_table_head' %>
        <th>Creator</th>
        <% if current_tricker.try(:admin?) %>
          <th colspan="3">Actions</th>
        <% end %>
      </tr>
      <% @index = 0 %>
      <% @combos.each do |combo| %>
        <% @combo = combo %>
        <%
          if (tricker_signed_in? && (@combo.tricker_id.equal? current_tricker.id))
            @index += 1
            next
          end
        %>
        <tr class="db-row">
          <%= render 'index_table_row' %>
          <td><%= Tricker.find(@combo.tricker_id).name %></td>
          <% if current_tricker.try(:admin?) %>
            <%= render 'index_combo_actions' %>
          <% end %>
        </tr>
        <% @index += 1 %>
      <% end %>
    </table>
  </div>
<% end %>
