#combos-wrapper.container
  .section-header.clearfix
    .col-sm-4
      %h2 Combo Feed
    -#.col-sm-4.latest-combos
      -#The latest combos from all over the world.
    -#
      .col-sm-4.pull-right
        %input#search.form-control{placeholder: 'Find combos...'}
  #combos-list.clearfix
    =# render 'shared/flash_messages'
    = will_paginate @combos
    .list
      - unless @combos.empty?
        - @combos.each do |combo|
          = render partial: 'combo_row', locals: {combo: combo}
      - else
        .list-row
          %h3 There are currently no combos in this list.
= render 'watch_combo_modal'
