#combos-wrapper.container
  .section-header.clearfix
    .col-sm-6
      %a.section-link{href: root_path}
        %h2
          %i.glyphicon.glyphicon-book.section-icon
          %span Latest Combos
    -#
      .col-sm-6.pull-right
        = render partial: 'search_form'
  #combos-list.clearfix
    =# render 'shared/flash_messages'
    = render partial: 'combos_list', locals: {empty_message: 'There are currently no combos in this list.'}
= render 'watch_combo_modal'
