<div class="container">
  <%= link_to 'â† My Combos', combos_path, :class => "btn btn-camouflaged" %>
</div>
<div class="container container-tiny tac">
  <h1>New combo</h1>
</div>
<div id="add-combo" class="container container-tiny card pt20 mbl">
  <div class="mbl">
    <%= render 'form_new' %>
  </div>
</div>
