#combos-wrapper.container
  .section-header.clearfix
    .col-sm-4
      %h2 Search Results
    .col-sm-6.pull-right
      = render partial: 'search_form'
  #combos-list.clearfix
    =# render 'shared/flash_messages'
    .list
      - unless @combos.empty?
        - @combos.each do |combo|
          = render partial: 'combo_row', locals: {combo: combo}
      - else
        .list-row
          %h3 Could not find any combos that match your criteria.
    = will_paginate @combos, renderer: BootstrapPagination::Rails
= render 'watch_combo_modal'
