/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require formtastic
 *= require my_formtastic_changes
 */
 /* FLAT COLOR COLLECTION:
  * red (#E15258), green (#5fcf80), silver (#c6ccd2), blue/light (#39ADD1), blue/dark (#3f8abf)
  * mustard (#E0AB18), burgundy? (#913B53), teal (#53BBB4), orange (#F9845B), purple (#665885)
  * purple/light (#9D8AC7)
  * grey/dark (#62707D), grey/dark/text (#384047), grey/light/text (#8d9aa5), grey/light/text/2 (#8c989e)
  * grey/light/input (#e8ebed)
  */

/* APPLICATION GLOBALS ===================== */
* { margin: 0; padding: 0; }

body {
	background-color: #edeff0;
	color: #62707D;
	font-family: "helvetica neue", helvetica, tahoma, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

a {
	text-decoration: none;
	color: #b2bac2;
	font-weight: bold;
}
a:hover { color: #384047; }

div.field, div.actions { margin-bottom: 10px; }

.container {
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 0;
}

h1, h2, p { padding-bottom: 20px; }

.clear { clear: both; }
.mrs { margin-right: 10px; }
.mbl { margin-bottom: 20px; }
.pbl { padding-bottom: 20px; }
.ptt { padding-top: 5px; }
.tac { text-align: center; }



/* NOTICES & ERRORS ======================== */

#notice {
  color: #5fcf80;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
#notice.red {
  color: #E15258;
  background-color: white;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  padding: 0;
  color: #E15258;
  h3 { padding: 10px; display: inline-block;}
}



/* TABLE STYLES =============================== */

table { border-spacing: 0; width: 100%; border-collapse: collapse; }
table td { vertical-align: middle; }
table tr:nth-child(2n) { background-color: #edeff0;}
table td:first-child, table th:first-child { padding-left: 10px; }
table .id { min-width: 35px; }
table .no_tricks { min-width: 65px; }
table .db-row:hover { background-color: #9D8AC7; color: white; }
table .db-row:hover a:hover { color: white; }



/* ACTION MENUS =============================== */

#actions-top, #actions-bottom { padding-bottom: 20px; }
#actions-top { border-bottom: 1px solid #edeff0; }
#actions-bottom { border-top: 1px solid #edeff0; }


/* INPUTS & FORMS =============================== */

input:focus, select:focus, textarea:focus, button:focus, a:focus { outline: none; }

input, textarea {
	font-size: 1em;
	height: 2.5em;
	padding: 0 5px;
	border: none;
	border-radius: 5px;
	border: 2px solid #e8ebed;
	color: #8c989e;
	background-color: #e8ebed;
	transition: all 300ms ease-out;
}

input[type="checkbox"] { height: 1em; }

input:focus, textarea:focus {
	background-color: white;
	border: 2px solid #8d9aa5;
	color: #384047;
}

form .actions input {
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border-radius: 5px;
	padding: 6px 8px;
}

form { font-weight: bold; }

#trick_submit_action input:focus,
#combo_submit_action input:focus { background-color: #c6ccd2; }

#combo_tricks_input .label { display: none; }

#combo_tricks_input {
	overflow: hidden;
	padding-top: 30px;
	margin-right: 20px;
	display: inline-block;
}

.fields {
	position: relative;
	display: inline-block;
	height: 50px;
}

.fields .remove_nested_fields {
	position: absolute;
	right: 20px;
	top: 0;
	display: inline-block;
	border-radius: 3px;
	background-color: #c6ccd2;
	color: white;
	width: 20px;
	line-height: 1.3em;
	text-align: center;
	transition: all 200ms ease-out;
}

.fields .remove_nested_fields:hover {
	background-color: #E15258;
	color: white;
}

/*.inputs ol { position: relative; }*/
.add_nested_fields { margin-bottom: 55px; }


/* TABLE ===================================== */

table {
	text-align: left;
}
th, td {
	padding-right: 15px;
}


/* BUTTONS =================================== */

.btn {
	font-weight: bold;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
	padding: 6px 8px;
	/*padding: 12px 15px;*/
	background-color: #c6ccd2;
	color: #fff !important;
	border-width: 1px 1px 3px !important;
	border-style: solid;
	border-color: #b7c0c7;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0 1px 0px rgba(0,0,0,0.15);
	white-space: nowrap;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	-moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

.btn-green { background-color: #5fcf80 !important; border-color: #3ac162 !important; }
.btn-blue { background-color: #3f8abf; border-color: #326e99; }
.btn-transparent { background-color: rgba(255,255,255,0.3); color: white; border: 0; }

.btn-jumbo {
	height: 100px;
	width: 200px;
	font-size: 3em;
}



/* HEADER ==================================== */

header {
	position: relative;
	max-width: 968px;
	margin: 20px auto;
	height: 35px;
}

header .container { padding: 0 20px; }

header a {
	text-decoration: none;
	color: #b2bac2
}

header a:hover { color: #384047; }

#logo { float: left; }
#nav { float: right; }

#logo h1 {
	font-size: 1.8em;
	line-height: 1.4;
	padding: 0;
}

#navlist { list-style-type: none; }

#navlist li {
	display: inline-block!important;
	margin-right: 20px;
}

#navlist li:last-child {
	margin-right: 0;
}

#navlist li a {
	font-weight: bold;
	font-size: 1.2em;
}


/* MAIN ====================================== */

#main, p, ol, ul, td, th {
  font-size: 1.1em;
  line-height: 1.7em;
}

#main {
	background-color: white;
	margin: 0 auto;
	margin-bottom: 50px;
	max-width: 968px;
}

#title {
	padding: 50px 20px 30px 20px;
	background-color: #E15258;
	color: rgba(255,255,255,0.7);
	font-size: 1.4em;
}

#title h1 {
	font-size: 3em;
	line-height: 1em;
	color: white;
}

#title.light-blue { background-color: #39ADD1; }
#title.red { background-color: #E15258; }
#title.mustard { background-color: #E0AB18; }
.red { background-color: #E15258; }
.mustard { background-color: #E0AB18; }


/* DASHBOARD ================================== */

#dashboard { background-color: #edeff0; }

#dashboard a { font-weight: normal; color: #62707D; }

#dashboard ul {
	list-style-position: inside;
	padding: 15px;
}

#dashboard h1 {
	color: white;
	height: 60px;
	border-radius: 5px 5px 0 0;
	padding: 30px 20px 20px 20px;
	font-size: 3em;
	line-height: 1em;
}

#dashboard-tricks, #dashboard-combos {
	display: inline-block;
	min-width: 400px;
	height: 250px;
	text-align: left;
	background-color: white;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
}

#dashboard-tricks { float: left; }
#dashboard-combos { float: right; }

.dashboard-link {
	min-width: 400px;
	height: 250px;
	position: absolute;
}
.dashboard-link:hover h1 { opacity: 0.8; }
.dashboard-link:hover ul { color: #384047; }



/* RESPONSIVE ADOPTATIONS ===================== */

@media only screen and (min-width: 1024px){
	header .container { padding: 0; }
}



