/* Setup */

@charset 'utf-8'
@import 'twitter/bootstrap'
@import 'formtastic'
@import 'my_formtastic_changes'
@import 'font-awesome'
@import 'compass/css3'


/* Imports */

@import 'landing_page'


/* Basic Layout */

html, body
  height: 100%

.container
  max-width: 970px

#navigation
  @include border-radius(0)

#wrap
  min-height: 100%
  height: auto
  margin: 0 auto -100px
  padding: 0 0 140px
  #main
    margin: 0 auto
