#combos-wrapper
  .pagination
    margin: 0 0 10px
    display: block
    text-align: right
  #combos-list
    .list
      .list-row
        padding: 8px 5px
        border-top: 1px solid #ecf0f1
        &:last-child
          border-bottom: 1px solid #ecf0f1
        &:hover
          .combo-details
            .actions
              display: inline
        .combo-top
          margin-bottom: 10px
          .combo-sequence
            display: inline
            font-weight: 500
        .combo-details
          .actions
            display: none
