// Place all the styles related to the combos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.combo-list {
	list-style-type: none;
	li {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: middle;
	}
	li:after {
		content: " >";
		color: #b2bac2;
	}
	li:last-child:after { content: ""; }
}

.combo-lg li {
	font-size: 3em;
	line-height: 1.4em;
	font-weight: bold;
}

#title .combo-lg {
	color: white;
	padding-bottom: 20px;
}

#title .combo-lg {
	li:after {
		color: rgba(255,255,255,0.7);
		font-weight: normal;
		font-size: 0.7em;
	}
}
