@import "twitter/bootstrap";
@import "variables_and_mixins";


/* Globals */

body {
  color: $pageHeaders;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

textarea { resize: vertical; }

a {
  color: $linkColor;
  &:hover {
    color: $linkHoverColor;
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  color: $pageHeaders;
}



/* Bootstrap Alterations */

.panel, .panel-heading { border: none; background-color: $boxedBg; }
.panel-heading h3 { color: white; }
.modal-body { background-color: $boxedBg; }
.modal-footer { margin-top: 0; }



/* Helpers */

.btn-wide { padding-left: 80px; padding-right: 80px; }

.btn-base {
  background-color: $base;
  color: white;
}

.btn-base:hover,
.btn-base:focus,
.btn-base:active,
.btn-base.active,
.open .dropdown-toggle.btn-base {
  background-color: $baseDark;
  color: white;
}

.btn-base-inverse {
  border: 2px solid white;
  color: white;
  background-color: $base;
  &:hover {
    background-color: white;
    color: $base;
  }
}

.btn-trans {
  background-color: $transparent25;
  color: white;
  &:hover {
    background-color: $transparent50;
    color: white;
  }
}

.btn-camouflaged {
  color: $base;
  background-color: none;
}

.btn-camouflaged:hover,
.btn-camouflaged:focus,
.btn-camouflaged:active,
.btn-camouflaged.active,
.open .dropdown-toggle.btn-camouflaged {
  background-color: $boxedBorder;
  color: $base;
}

.tac { text-align: center; }
.mt20 { margin-top: 20px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb50 { margin-bottom: 50px; }
.pt20 { padding-top: 20px; }
.pb20 { padding-bottom: 20px; }
.bb2 { border-bottom: 2px solid $boxedBorder; }
.card-shadow { @include box-shadow(0 1px 0 0 rgba(0,0,0,0.1)); }
.btn-hg { height: 60px; padding: 10px 60px; font-size: 2em; }
.container-mini { max-width: 768px; }
.container-tiny { max-width: 480px; }
.label-small { font-weight: normal; }
.scroller { max-height: 300px; overflow: scroll; }

.card {
  background-color: $boxedBg;
  @include border-radius(5px);
  @include box-shadow(0 1px 0 0 rgba(0,0,0,0.1));
  input[type="email"], input[type="password"], input[type="text"], textarea,
  input[type="submit"].btn-lg, input[type="reset"].btn-lg, input[type="button"].btn-lg {
    width:90%;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus, .btn:focus {
    outline: none;
}
input[disabled] {
  border-color: $boxedBorder;
  background-color: $boxedBorder;
}

input, textarea {
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 15px;
  border: none;
  color: $grey4;
  /*border: 2px solid #e8ebed;
  background-color: #e8ebed;*/
  border: 2px solid white;
  background-color: white;
  @include border-radius(5px);
  @include transition(all, 300ms, ease-out);
}

input:focus,
textarea:focus {
  background-color: white;
  border: 2px solid $base;
  color: #384047
}

textarea{
  height: 5em;
  resize: vertical;
}

input[type="checkbox"]{
  height: 1em
}

#notice {
  padding: 15px 0;
  font-weight: bold;
  .success { color: $green; }
  .error { color: $red; }
}



/* Home Page */

#jumbotron {
  color: white;
  background-color: $base;
  position: relative;
  top: -20px;
  margin-bottom: -30px;
  h1 { display: inline-block; }
  .label { display: inline-block; }
}

#app-stats {
  color: white;
  background-color: $baseDark;
  font-size: 1.2em;
}

.text-muted {
  color: $textColor;
  font-weight: 200;
}

#call-to-action {
  padding: 100px 0 120px 0;
  color: white;
  h1 { font-size: 4em; }
  p { margin-top: 50px; }
}

.featurette a {
  font-size: 1.5em;
}

.featurette-heading {
  margin-top: 120px;
}

.featurette-divider {
  margin: 40px 0;
}


/* Tricks Index */

.filter-category {
  display: block;
  font-weight: bold;
}

#tricks-affix .affix-top {
  width: 261px;
}

#tricks-affix .affix {
  position: fixed;
  width: 261px;
  top: 15px;
}

#toolbar-title {
  margin-top: 0;
}

#trick-toolbar {
  color: $boxedText;
  padding: 0 0 15px 5px;
}


/* Tricks Pages */

#exampler {
  padding: 20px 0;
}

#trick-form {
  padding: 20px 15px;
}


/* YouTube Player */

#ytplayer {
  max-width: 100%;
}



/* Combos */

#combos-affix .affix {
  position: fixed;
  width: 255px;
  top: 15px;
}

#combo-lists {
  list-style-type: none;
  padding-left: 0;
}

#combo-lists li {
  padding: 0;
  border: 0;
  b {
    display: block;
    padding: 5px 10px;
    background-color: $tableRowBg;
  }
  a {
    display: block;
    padding: 5px 10px;
    &:hover { text-decoration: none; }
  }
  &:hover { background-color: $tableRowBg; }
}

.list {
  padding: 0;
  padding-bottom: 20px;
  background-color: white;
  .list-head {
    padding: 8px 0 5px 0;
    font-weight: bold;
    color: $mutedText;
    border-bottom: 2px solid $boxedBorder;
    @include border-radius-top(5px);
    h3 { margin: 0; }
  }
  .empty-list-head h3 { margin: 10px 0; }
}

.list-row {
  color: $grey4;
  padding: 8px 5px 8px 5px;
  border-bottom: 1px solid $grey1;
  background-color: white;
  position: relative;
  .actions {
    position: absolute;
    right: 5px;
    top: 5px;
    a {
      color: $grey4;
      &:hover { color: $textColorDark; }
    }
  }
  a {
    color: $textColorDark;
    &:hover { text-decoration: none; color: $base; }
  }
  &:nth-child(2n+1){
    background-color: $tableRowBg;
  }
  .main-link {
    color: $base;
    &:hover { color: $textColorDark; }
  }
}

.combos-count {
  font-size: 1em;
  display: block;
  color: $textColorDark;
}

.combo-sequence {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  padding-left: 0;
  white-space: normal;
  display: block;
}



/* Styles */

.trick-list {
  list-style-type: none;
  padding: 0;
  li {
    display: inline;
    margin-right: 20px;
  }
}


/* header */

#navigation {
  @include border-radius(0);
  background-color: $headerBg;
  border: 0;
  font-weight: bold;
  a {
    color: #b2bac2;
    &:hover {
      color: $greyDarker;
    }
  }
  .dropdown > a:hover .caret {
    border-top-color: $greyDarker;
    border-bottom-color: $greyDarker;
  }
  .open {
    & > a { background-color: $headerBg; }
    a { color: $base; }
    .caret {
      border-top-color: $base;
      border-bottom-color: $base;
    }
    .dropdown-menu {
      border: none;
      background-color: white;
      li > a {
        color: $base;
        &:hover {
          background-color: $boxedBorder;
        }
      }
    }
  }
  .navbar-brand { font-weight: normal; }
  .navbar-toggle {
    border: none;
    &:hover, &:focus, .active {
      background-color: $base;
      .icon-bar { background-color: white; }
    }
    .active { background-color: $base; }
    .icon-bar {
      background-color: #b2bac2;
    }
  }
}



/* footer */

footer {
  margin-top:40px;
  height: 100px;
  padding-top: 20px;
  background-color: $midnightBlue;
  color: $grey2;
  a {
    color: white;
    font-weight: normal;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
  nav { float: right; }
  ul {
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* media queries */

@media only screen and (min-width: 768px){
  #app-stats { font-size: 2em; }
  .combo-sequence { margin-top: 0px; width: 90%; }
  .actions { top: 8px; }
}