@import "twitter/bootstrap";

/* Variables & Mixins */

$red: #E15258;
$green: #5fcf80;
$silver: #c6ccd2;
$blueLight: #39ADD1;
$blueDark: #3f8abf;
$mustard: #E0AB18;
$burgundy: #913B53;
$teal: #53BBB4;
$orange: #F9845B;
$purpleDark: #665885;
$purpleLight: #9D8AC7;
$greyDark: #62707D;
$greyDarker: #384047;
$grey: #8d9aa5;
$greyLight: #8c989e;
$greyLighter: #e8ebed;
$grayBg: #edeff0;

$grayMediumLight: #eaeaea;



/* Globals */

body {
  margin-top: 60px;
  background-color: $grayBg;
}

textarea {
  resize: vertical;
}



/* Combos */

.combo-list {
  padding: 20px 0;
  background-color: #E0AB18;
  border-radius: 5px;

  .combo-list-head {
    font-weight: bold;
    color: rgba(255,255,255,0.8);
    padding-bottom: 10px;
  }
}

.combo-row {
  color: $grey;
  padding: 8px 5px 5px 5px;
  border-bottom: 1px solid $grayMediumLight;
  background-color: white;

  .combo-details {
    text-align: right;
    font-size: 12px;
  }
  a {
    color: #62707D;
    &:hover { text-decoration: none; }
  }
  &:hover {
    background-color: $grayBg;
  }
}

.combo-sequence {
  font-weight: bold;
  padding-left: 0;
  list-style-type: none;
  li {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  li:after {
    font-weight: normal;
    content: " >";
    color: #b2bac2;
  }
  li:last-child:after { content: ""; }
}



/* footer */

footer {
  height: 60px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;

  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
