
/* New Combo Form */
#combo_trick_ids { width: 90%; }

#combo_tricks_input label { display: none; }
#combo-form .fields { position: relative; }
#combo-form .fields .remove_nested_fields {
  position: absolute;
  right: 0;
  top: 9px;
}

#combo-form .remove_nested_fields { padding: 3px; margin-right: 0; }
#combo-form .add_nested_fields { padding: 6px; }

#combo-form .add_nested_fields:hover,
#combo-form .remove_nested_fields:hover {
  text-decoration: none;
  border-radius: 5px;
  background-color: #678;
  color: white;
}

.add_nested_fields:hover,
.remove_nested_fields:hover {
  text-decoration: none;
  border-radius: 5px;
  background-color: #678;
  color: white;
}

#combo-form hr { border-color: #E0E2E6; }

#combo_submit_action.action.input_action {
  display: block;
  width: 100%;
}
#combo_submit_action.action.input_action input { padding: 6px 20px; }
#combo-form fieldset.actions { padding: 0; }
.formtastic .action { padding:0; }

#combo_lists_input { margin: 0; height: 100%; }
#combo_lists_input_head { border-top: 1px solid #eeeeee; }
#combo_lists_input fieldset legend { display: none; }
#combo_lists_input .choices-group { padding: 0; padding-top: 0px; }
#combo_lists_input .choices-group li { margin: 0; margin-bottom: 6px; }
#combo_lists_input .choices-group li:last-child { margin-bottom: 0; }
#combo_lists_input .choices-group li label { margin: 0; font-weight: normal; }


/* Edit Tricking Style Form */

.tricking_style {
  padding: 20px 0;
  .actions { padding-left: 0; }
}

#tricking_style_name_input, #tricking_style_description_input {
  label {
    color: #456;
    text-align: left;
    font-size: 1em;
    display: block;
    margin-right: 10px;
    width: inherit;
    min-width: 80px;
    float: none;
  }
}
#tricking_style_name, #tricking_style_description {
  padding: 10px;
  width: 90%;
  max-width: 400px;
}

#tricking_style_tricks_input {
  legend { display: none; }
  .choices-group {
    padding-left: 0;
    .choice label {
      font-weight: normal;
    }
  }
}
#tricking_style_submit_action input {
  padding: 8px 20px;
}