body {
  font-family: "helvetica neue", helvetica, tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#main, p, ol, ul, td, th {
  font-size: 1.1em;
  line-height: 1.7em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #b2bac2;
  font-weight: bold;

  &:hover {
    color: #384047;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #5fcf80;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}


/* SCAFFOLD-GENERATED... style them */
#error_explanation {
  padding: 0;
  color: #E15258;
  h3 { padding: 10px; display: inline-block;}
}
