#tricktionary-header.section-header
  h2
    i.section-icon
      background: $yellow
  @media #{$mobile}
    background: $yellow

#tricktionary-wrapper
  #tricks-list
    padding-bottom: 20px
    margin-bottom: 20px
    .trick-row
      margin-bottom: 15px
      transition: background 0.2s ease-in
      &:hover
        background: #f9f9f9
      @media #{$small}
        margin-bottom: 5px
      @media #{$mobile}
        margin-bottom: -1px
      a
        display: block
        padding: 10px
        font-size: 20px
        font-weight: 300
        color: $headerBackgroundColor
        &:hover
          text-decoration: none
  .suggest-trick
    margin-bottom: 20px

#tricktionary-entry-wrapper
  #trick-details,
  #tutorials
    padding: 20px 0
    margin-bottom: 20px
    #trick-info
      @media #{$small}
        margin-bottom: 20px
      .clearfix:nth-child(2n+1)
        background-color: #f7f7f7
      .clearfix
        .col-xs-6:first-child
          font-weight: 600
      .col-xs-6,
      .col-xs-12
        padding: 10px
  #combos-using-trick
    @import 'combo_list'
    .list-head
      margin: 10px 15px
    #related-combos,
    #try-these
      @media #{$small}
        padding: 0

#edit-trick-wrapper
  .section-header
    h2
      display: inline-block
    a
      span
        @media  #{$mobile}
          display: none
  #trick-form
    .clearfix
      strong
        width: 120px
        display: inline-block
      input[type='text'],
      select
        width: 220px
      margin-bottom: 20px

#new-trick-modal
  .modal-body
    .clearfix
      strong
        width: 120px
        display: inline-block
      input[type='text'],
      select
        width: 220px
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0