
/* Rubee Colors */

$rubeeRed: #E75353;
$rubeeRedLight: #D6B3AD;
$rubeeRedDark: #AE4543;



/* Flat UI Colors */

$turquoise: #1ABC9C;
$greenSea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peterRiver: #3498DB;
$belizeHole: #2980B9;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$wetAsphalt: #34495E;
$midnightBlue: #2C3E50;
$sunFlower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;



/* Treehouse Colors */

$red: #E15258;
$green: #5fcf80;
$silver: #c6ccd2;
$blueLight: #39ADD1;
$blueDark: #3f8abf;
$mustard: #E0AB18;
$burgundy: #913B53;
$teal: #53BBB4;
$orange: #F9845B;
$purpleDark: #665885;
$purpleLight: #9D8AC7;

$greyDarker: #384047;
$greyDark: #62707D;
$grey: #8d9aa5;
$greyLight: #8c989e;
$greyLighter: #e8ebed;
$greyLightest: #edeff0;



/* Vimeo Colors */

$tableText: #7b8084;
$tableRowBg: #f4f5f7;

$headerBg: #f0f1f4;
$headerBorder: #d8dde1;
$headerLink: #8596a7;
$headerSubmenuText: #9da2a8;

$boxedBg: #f4f5f7;
$boxedText: #71767a;
$boxedBorder: #E9EBEF;
$boxedToolbarBg: #E9EBEF;
$boxedToolBorder: #E0E2E6;

$vimeoLink: #123;
$btnBg: #345;
$pageHeaders: #456;
$colorBoxText: #678;

$mutedText: #acb1b4;



/* Color Scheme */

$base: $turquoise;
$baseDark: $greenSea;

$transparent70: rgba(255,255,255,0.7);
$transparent50: rgba(255,255,255,0.50);
$transparent25: rgba(255,255,255,0.25);

$textColor: $tableText;
$textColorDark: $pageHeaders;
$textMuted: $mutedText;

$linkColor: $base;
$linkHoverColor: $baseDark;

$grey1: $clouds;
$grey2: $silver;
$grey3: $concrete;
$grey4: $asbestos;

$grey444: #444;
$grey555: #555;
$grey666: #666;
$grey777: #777;
$grey999: #999;
$greyAAA: #aaa;



/* Mixins */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
       -o-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
       -o-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin box-shadow ($x: 0px, $y: 3px, $blur: 5px, $alpha: 0.5) {
    -webkit-box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
    -moz-box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
    box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
}

@mixin transition ($prop: all, $time: 1s, $ease: linear, $delay: 0s) {
    -webkit-transition: $prop $time $ease $delay;
    -moz-transition: $prop $time $ease $delay;
    -o-transition: $prop $time $ease $delay;
    -ms-transition: $prop $time $ease $delay;
    transition: $prop $time $ease $delay;
}