<footer class="footer">
  <div class="container">
    <div class="col-sm-6">
      Copyright © 2014
      <a href="http://www.dimitrisvainas.com/" target="_blank">Dimitris Vainas</a>
    </div>
    <div class="col-sm-6">
      <nav>
        <ul class="list-inline">
          <li><%= link_to "tricking.gr", "http://www.tricking.gr", :target => "_blank" %></li>
          <li><%= link_to "Contact", "mailto:dimitris@tricking.gr" %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>