%footer.footer
  .container
    .col-sm-6.mb20
      Copyright © 2014
      %a{:href => "http://www.dimitrisvainas.com/", :target => "_blank"} Dimitris Vainas
    .col-sm-6
      %nav
        %ul.list-inline
          %li= link_to "tricking.gr", "http://www.tricking.gr", :target => "_blank"
          %li= link_to "Contact", "mailto:dimitris@tricking.gr"
