<header>
	<div class="container">
		<div id="logo">
			<h1><a href="/">Level.App</a></h1>
		</div>
		<div id="nav">
			<ul id="navlist">
				<li><%= link_to "Tricks", tricks_path %></li>
				<li><%= link_to "Combos", combos_path %></li>
				<li><a href="#">Sign In</a></li>
			</ul>
		</div>
		<br class="clear"/>
	</div>
</header>