<header>
	<div class="container">
		<div id="logo">
			<h1><%= link_to "Level App", root_path %></h1>
		</div>
		<div id="collapse"><a id="toggle-collapse">=</a></div>
		<div id="nav">
			<ul id="navlist">
				<%= render 'layouts/nav_list' %>
			</ul>
		</div>
		<br class="clear">
	</div>
</header>